{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<head>
  <title>{% block title %}Error{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
</head>
<!--<div id="preloader">-->
<!--  <div id="status">&nbsp;</div>-->
<!--</div>-->
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
  <section id="contentSection">
    <div class="row">
      <h1 class="text-center text-bold">Parolni o'zgartirish</h1>
        {% if validlink %}
      <p class="dw-paragraph text-center">Parolingini 2 marta kiriting</p>
      <hr>
      <form method="post" class="password-form">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <label for="current_password">Joriy parolingiz:</label>
        <input type="password" name="current_password" required>

        <label for="new_password">Yangi parolingiz:</label>
        <input type="password" name="new_password" required>

        <label for="confirm_password">Parolni tasdiqlang:</label>
        <input type="password" name="confirm_password" required>

        <input type="submit" value="Parolni o'zgartirish">
    </form>
      <hr>
      {% else %}
      <p>Siz noto'g'ri linkdan foydalandingiz</p>
      {% endif %}
    </div>
  </section>
{% endblock content %}