{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<head>
  <title>{% block title %}Error{% endblock title %}</title>
</head>
<!--<div id="preloader">-->
<!--  <div id="status">&nbsp;</div>-->
<!--</div>-->
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">

  <section id="newsSection">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="latest_newsarea"> <span>Latest News</span>
          <ul id="ticker01" class="news_sticker">
            {% for news in allNews %}
            <li><a href="{{ news.get_absolute_url }}"><img src="{{ news.image.url }}" alt="">{{ news.title }}</a></li>
            {% endfor %}
          </ul>
          <div class="social_area">
            <ul class="social_nav">
              <li class="facebook"><a href="#"></a></li>
              <li class="twitter"><a href="#"></a></li>
              <li class="flickr"><a href="#"></a></li>
              <li class="pinterest"><a href="#"></a></li>
              <li class="googleplus"><a href="#"></a></li>
              <li class="vimeo"><a href="#"></a></li>
              <li class="youtube"><a href="#"></a></li>
              <li class="mail"><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
            <!-- Bu yerga edit create delete kodlari yoziladi -->
            <h2 class="text-center">Yangilik qo'shish</h2>
<!--            <form method="POST" enctype="multipart/form-data" class="contact_form">-->
<!--                {% csrf_token %}-->
<!--                <input class="form-control" type="text" placeholder="Title*" name="title">-->
<!--                <p id="slug" class="form-control" readonly aria-placeholder="Slug"></p>-->
<!--                <textarea class="form-control" cols="30" rows="10" placeholder="Body*" name="body"></textarea>-->
<!--                <input class="form-control mb-3" type="file" name="image">-->
<!--                <select class="form-control mb-3" name="category">-->
<!--                    &lt;!&ndash; Bu yerdan kategoriyalar ro'yxatini olishingiz mumkin &ndash;&gt;-->
<!--                    {% for category in categories %}-->
<!--                        <option value="{{ category.name }}">{{ category.name }}</option>-->
<!--                    {% endfor %}-->

<!--                </select>-->
<!--                <select class="form-control" name="status">-->
<!--                    <option value="DF">Draft</option>-->
<!--                    <option value="PB">Published</option>-->
<!--                </select>-->
<!--                <button type="submit" class="btn btn-warning">Saqlash</button>-->
<!--            </form>-->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Saqlash</button>
            </form>

            <!--/ Bu yerga edit create delete kodlari yoziladi -->
        </div>
    </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Popular Post</span></h2>
            <ul class="spost_nav">
              {% for news in allNews %}
              {% if forloop.counter <= 4 %}
              <li>
                <div class="media wow fadeInDown"> <a href="{{ news.get_absolute_url }}" class="media-left"> <img alt="" src="{{ news.image.url }}"> </a>
                  <div class="media-body"> <a href="{{ news.get_absolute_url }}" class="catg_title">{{ news.title }}</a> </div>
                </div>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>
</div>
{% endblock content %}