{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<head>
  <title>{% block title %}Create news{% endblock title %}</title>
</head>
<!--<div id="preloader">-->
<!--  <div id="status">&nbsp;</div>-->
<!--</div>-->
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <section id="newsSection">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="latest_newsarea"> <span>Latest News</span>
          <ul id="ticker01" class="news_sticker">
            {% for news in allNews %}
            <li><a href="{{ news.get_absolute_url }}"><img src="{{ news.image.url }}" alt="">{{ news.title }}</a></li>
            {% endfor %}
          </ul>
          <div class="social_area">
            <ul class="social_nav">
              <li class="facebook"><a href="#"></a></li>
              <li class="twitter"><a href="#"></a></li>
              <li class="flickr"><a href="#"></a></li>
              <li class="pinterest"><a href="#"></a></li>
              <li class="googleplus"><a href="#"></a></li>
              <li class="vimeo"><a href="#"></a></li>
              <li class="youtube"><a href="#"></a></li>
              <li class="mail"><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
            <h2 class="text-center">Yangilik qo'shish</h2>
            <form method="post" enctype="multipart/form-data" class="card">
                {% csrf_token %}
                <div class="card-body">

                    {{ form.title.errors }}
                    <div class="form-group">
                        <label for="{{ form.title.id_for_label }}">Title:</label>
                        <input type="text" name="{{ form.title.name }}" id="{{ form.title.id_for_label }}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>SLUG:</label>
                        <p id="slug" class="form-control"></p>
                    </div>
<!--                    {{ form.slug.errors }}-->
<!--                    <div class="form-group">-->
<!--                        <label for="{{ form.slug.id_for_label }}">Slug:</label>-->
<!--                        {{ form.slug }}-->
<!--                    </div>-->

                    {{ form.body.errors }}
                    <div class="form-group">
                        <label for="{{ form.body.id_for_label }}">Body:</label>
                        <textarea class="form-control" name="{{ form.body.name }}" id="{{ form.body.id_for_label }}" rows="5"></textarea>
                    </div>

                    {{ form.image.errors }}
                    <div class="form-group">
                        <label for="{{ form.image.id_for_label }}">Image:</label>
                        <input type="file" class="form-control-file" name="{{ form.image.name }}" id="{{ form.image.id_for_label }}">
                    </div>

                    {{ form.category.errors }}
                    <div class="form-group">
                        <label for="{{ form.category.id_for_label }}">Category:</label>
                        <select class="form-control" name="{{ form.category.name }}" id="{{ form.category.id_for_label }}">
                            <option value="">Select a category</option>
                            {% for category in form.category.field.queryset %}
                                <option value="{{ category.pk }}" {% if category.pk == form.category.value %}selected{% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    {{ form.status.errors }}
                    <div class="form-group">
                        <label for="{{ form.status.id_for_label }}">Status:</label>
                        <select class="form-control" name="{{ form.status.name }}" id="{{ form.status.id_for_label }}">
                            <option value="DF" {% if form.status.value == 'DF' %}selected{% endif %}>Draft</option>
                            <option value="PB" {% if form.status.value == 'PB' %}selected{% endif %}>Published</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Saqlash</button>
            </form>

        </div>
    </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Popular Post</span></h2>
            <ul class="spost_nav">
              {% for news in allNews %}
              {% if forloop.counter <= 4 %}
              <li>
                <div class="media wow fadeInDown"> <a href="{{ news.get_absolute_url }}" class="media-left"> <img alt="" src="{{ news.image.url }}"> </a>
                  <div class="media-body"> <a href="{{ news.get_absolute_url }}" class="catg_title">{{ news.title }}</a> </div>
                </div>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>
</div>
{% endblock content %}