{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<!--<div id="preloader">-->
<!--  <div id="status">&nbsp;</div>-->
<!--</div>-->
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_sidebar">

            <h2><span>{{category_name}}</span></h2>
            <ul class="spost_nav">
              {% for n in news_list %}
              <li>
                <div class="media wow fadeInDown"> <a href="{{n.get_absolute_url}}" class="media-left"> <img alt="" src="{{ n.image.url }}"> </a>
                  <div class="media-body"> <a href="{{n.get_absolute_url}}" class="catg_title">{{ n.title }}</a> </div>
                  <p>{{ n.body | truncatewords:9 }}</p>
                  <p>{{ n.publish_time }}  </p>
                </div>
              </li>
              {% endfor %}
            </ul>

          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Popular Post</span></h2>
            <ul class="spost_nav">
              {% for n in newsuz %}
              {% if n.slug != news.slug %}
              <li>
                <div class="media wow fadeInDown"> <a href="{{n.get_absolute_url}}" class="media-left"> <img alt="" src="{{ n.image.url }}"> </a>
                  <div class="media-body"> <a href="{{n.get_absolute_url}}" class="catg_title">{{ n.title }}</a> </div>
                </div>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
              <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                  {% for category in categories %}
                  <li class="cat-item"><a href="{% url 'category_detail' category_name=category.name %}">{{category.name}}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="video">
                <div class="vide_area">
                  <iframe width="315" height="315" src="https://www.youtube.com/embed/AH1ejr8Uipo?si=2NGMbKmeUvdl-iDj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  {% for n in newsuz %}
                  <li>
                    <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src=" {{ n.image.url }}"> </a>
                      <div class="media-body"> <a href="single_page.html" class="catg_title"> {{ n.title }}</a> </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="single_sidebar wow fadeInDown">
          {% for news in newsuz %}
              {% if forloop.first %}
                  <h2><span>Sponsor</span></h2>
                      <a class="sideAdd" href="#"><img src="{{ news.image.url }}" alt=""></a> </div>
                  <div class="single_sidebar wow fadeInDown">
                      <h2><span>{{ news.category }}</span></h2>
              {% endif %}
          {% endfor %}
            <select class="catgArchive">
              <option>Select Category</option>
              {% for category in categories %}
              <a href="{% url 'category_detail' category_name=category.name %}"><option>{{ category.name }}</option></a>
              {% endfor %}
            </select>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Links</span></h2>
            <ul>
              {% for category in categories %}
              <li><a href="{% url 'category_detail' category_name=category.name %}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>
  <section id="newsSection">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="latest_newsarea"> <span>Latest News</span>
          <ul id="ticker01" class="news_sticker">
            {% for news in allNews %}
            <li><a href="{{ news.get_absolute_url }}"><img src="{{ news.image.url }}" alt="">{{ news.title | truncatechars:12 }}</a></li>
            {% endfor %}
          </ul>
          <div class="social_area">
            <ul class="social_nav">
              <li class="facebook"><a href="#"></a></li>
              <li class="twitter"><a href="#"></a></li>
              <li class="flickr"><a href="#"></a></li>
              <li class="pinterest"><a href="#"></a></li>
              <li class="googleplus"><a href="#"></a></li>
              <li class="vimeo"><a href="#"></a></li>
              <li class="youtube"><a href="#"></a></li>
              <li class="mail"><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}