<form method="post" enctype="multipart/form-data" class="card">
    {% csrf_token %}
    <div class="card-body">

        {{ form.title.errors }}
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Title:</label>
            <input type="text" name="{{ form.title.name }}" id="{{ form.title.id_for_label }}" class="form-control">
        </div>
        <div class="form-group">
            <label>SLUG:</label>
            <p id="slug" class="form-control"></p>
        </div>
        {{ form.body.errors }}
        <div class="form-group">
            <label for="{{ form.body.id_for_label }}">Body:</label>
            <textarea class="form-control" name="{{ form.body.name }}" id="{{ form.body.id_for_label }}" rows="5"></textarea>
        </div>
        {{ form.image.errors }}
        <div class="form-group">
            <label for="{{ form.image.id_for_label }}">Image:</label>
            <input type="file" class="form-control-file" name="{{ form.image.name }}" id="{{ form.image.id_for_label }}">
        </div>
        {{ form.category.errors }}
        <div class="form-group">
            <label for="{{ form.category.id_for_label }}">Category:</label>
            <select class="form-control" name="{{ form.category.name }}" id="{{ form.category.id_for_label }}">
                <option value="">Select a category</option>
                {% for category in form.category.field.queryset %}
                    <option value="{{ category.pk }}" {% if category.pk == form.category.value %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        {{ form.status.errors }}
        <div class="form-group">
            <label for="{{ form.status.id_for_label }}">Status:</label>
            <select class="form-control" name="{{ form.status.name }}" id="{{ form.status.id_for_label }}">
                <option value="DF" {% if form.status.value =='DF' %}selected{% endif %}>Draft</option>
                <option value="PB" {% if form.status.value =='PB' %}selected{% endif %}>Published</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Saqlash</button>
</form>