{% extends 'base/base.html' %}
{% load static %}
{% block title %}Update news{% endblock title %}
{% block content %}

<!--<div id="preloader">-->
<!--  <div id="status">&nbsp;</div>-->
<!--</div>-->
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
<p>Iltimos saytga kirish uchun quyidagi formani toldiring</p>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn-warning btn"> kirish</button>
    </form>
</div>
{% endblock content %}